#plant-one, #plant-two{
    width: auto;
    min-width: 100%;
    max-width: 46vw;
    height: auto;
    min-height: 30vw;
    margin: auto;
    background-color: #F9F9F9;
    clear: both;
}

.object-box{
    width: 7.5vw;
    height: 3.5vw;
}

.object-title-box{
    width: 7.5vw;
    height: auto;
    max-height: 1vw;
}

svg text{
    font-size: 1vw;
}

#card-legend-content a{
    width: 100%;
    padding: 0.25rem;
    margin-bottom: 1rem;
    border: 2px solid black;
}

#card-legend-content .red{
    border: 3px solid red;
}

#date-start, #date-end {
    width: 40%;
    margin-right: 5%;
}

.btn:hover{
    cursor: pointer;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.modal-dialog {
    max-width: 50% !important;
    margin: 12.5rem auto !important;
}